/* ESTILS BASE DE LA PÀGINA */
@import "base.css";

/* PÀGINES ESPECIALS */
/* Presentació */
@import "presentacio.css";
/* Portada */
@import "portada.css";

main {
	background-color: var(--fons);
	padding: var(--mida-var);
	overflow: hidden;
}
footer ul, header ul {
	display: flex;
	flex-flow: row wrap;
    justify-content: center;
	gap: 0 1rem;
}

/* CAPÇALERA */
.foli {
	background-color: var(--accent);
	background-image: url(../img/escut.svg);
	background-repeat: no-repeat;
	background-position: 5px; /* perquè no s'enganxi a l'esquerra */
	background-size: auto 80%; /* perquè no ocupi tota l'alçada */
	color: var(--fons);
	padding: 0 var(--ample-var);
	font-family: var(--encap);
	font-size: 1.1rem;
}
.foli p {
	padding: 0.5rem 0;
	text-shadow: 2px 2px 2px var(--text);
}
header nav {
	background-color: var(--ter);
	padding: 0 var(--ample-var);
}

/* bread crumbs */
.molles {
	background-color: var(--sec);
	padding: 0.5rem var(--ample-var);
	font-size: var(--petit);
}
.molles p {
	padding: 0.5rem 0;
}

/* enllaços menú */
header a, header a:visited {
	display: inline-block;
	text-decoration: none;
	color: var(--accent);
	font-weight: bold;
	padding: 0.5rem;
}
header a:hover {
	background-color: var(--sec);
}

/* PEU */
footer {
	background-color: var(--accent);
	color: var(--fons);
	padding: var(--mida-var);
	font-size: var(--petit);	
}
.legal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
	gap: 0 1rem;
	margin-bottom: 1rem;
}

/* enllaços peu */
footer a, footer a:visited {
	text-decoration: none;
	color: var(--fons);
}
footer a:active, footer a:hover {
	text-decoration: underline;
}

/* COS */
/* Enllaços */
a {
	color: var(--accent);
}
a:hover {
	text-decoration: none;
}
a:visited {
	color: var(--vist);
}
a:active {
	color: var(--actiu);
}

/* Encapçalaments */
h1 {
	font-family: var(--encap);
	color: var(--accent);
	text-align: center;
	font-size: 2rem;
	margin-bottom: 1rem;
}
h2, h3 {
	font-family: var(--encap);
	margin-top: 1rem;
	margin-bottom: 0.3rem;
}
h2 {
	color: var(--accent);
}

/* CATEGORIES */
.catego {
	background-color: var(--sec);
	border-radius: 10px;
	border: 2px solid var(--ter);
	overflow: hidden;
	margin-bottom: 2rem;
}
.catego img {
	width: 100%;
	height: 100%;
	aspect-ratio: 4/3;
	object-fit: cover;
}
.catego a {
	text-decoration: none;
	color: var(--text);
	display: flex;
	align-items: stretch;
}
.catego picture {
	flex: 1;
}
.catego div {
	flex: 2;
	margin: 2rem;
}
.catego h2 {
	margin-top: 0;
	font-size: 1.2rem;
}

/* ARTICLES */
article p {
	margin: 0.6rem 0 0.3rem 0;
}
.info {
	border: 2px solid var(--sec);
	border-radius: 10px;
	padding: 1rem 3rem;
}
.info hr {
	border: 1px solid var(--sec);
	margin: 2rem;
}
article ul {
	margin-bottom: 1rem;
	list-style-type: square;
	margin-left: 2rem;
}

/* Llista desplegable */
#bloc_desp {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	max-width: 500px;
	background-color: var(--sec);
	border: 2px solid var(--ter);
	border-radius: 10px;
	margin: 2rem auto;
}
#bloc_desp h2 {
	margin: 0.5rem 1rem;
	font-size: 1.2rem;
	font-family: var(--cos);
	text-align: center;
}
#llista_desp {
	list-style-type: none;
	width: 100%;
	display: none;
}
#llista_desp.visible {
	display: block;
}
#llista_desp strong { /* anys */
	display: inline-block;
	width: 3rem;
	margin-top: 0.5rem;
}

/* Fletxa */
#bloc_desp svg {
	color: var(--accent);
}

/* Imatges */
article picture img {
	max-width: 50%;
	height: auto;
	float: left;
	margin: 0 2rem 2rem 0;	
	border: 2px solid var(--sec);
}
.pano {
	max-width: 100%;
	float: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Altres articles de la secció */
.altres {
	width: 100%;
	border-top: 2px solid var(--sec);
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.altres h2 {
	font-family: var(--cos);
	font-size: 1.2rem;
	font-weight: 500;
	
}
d.altres ul {
	list-style-type: disc;
	color: var(--accent);
}

