/* ESTILS BASE DE LA PÀGINA */
@import "base.css";

/* PÀGINES ESPECIALS */
/* Presentació */
@import "presentacio.css";
/* Portada */
@import "portada.css";

main {
	background-color: var(--fons);
	padding: var(--mida-var);
	overflow: hidden;
}
footer ul, header ul {
	display: flex;
	flex-flow: row wrap;
    justify-content: center;
	gap: 0 1rem;
}

/* CAPÇALERA */
.foli {
	background-color: var(--accent);
	background-image: url(../img/favicon.svg);
	background-repeat: no-repeat;
	background-position: calc(100% - 7px); /* perquè no s'enganxi a l'esquerra */
	background-size: auto 70%; /* perquè no ocupi tota l'alçada */
	color: var(--fons);
	padding: 0 var(--ample-var);
	font-family: var(--encap);
	font-size: 1.1rem;
}
.foli p {
	padding: 0.5rem 0;
	text-shadow: 2px 2px 2px var(--text);
}
header nav {
	background-color: var(--ter);
	padding: 0 var(--ample-var);
}

/* bread crumbs */
.molles {
	background-color: var(--sec);
	padding: 0.5rem var(--ample-var);
	font-size: var(--petit);
}
.molles p {
	padding: 0.5rem 0;
}

/* enllaços menú */
header a, header a:visited {
	display: inline-block;
	text-decoration: none;
	color: var(--accent);
	font-weight: bold;
	padding: 0.5rem;
}
header a:hover {
	background-color: var(--sec);
}

/* PEU */
footer {
	background-color: var(--accent);
	background-image: url(../img/caldera.svg);
	background-repeat: no-repeat;
	background-position: top -1rem right -1rem;
	background-size: auto 150%;
	color: var(--fons);
	padding: var(--mida-var);
	font-size: var(--petit);	
}
.legal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
	gap: 0 1rem;
	margin-bottom: 1rem;
}

/* enllaços peu */
footer a, footer a:visited {
	text-decoration: none;
	color: var(--fons);
}
footer a:active, footer a:hover {
	text-decoration: underline;
}

/* COS */
/* Enllaços */
a {
	color: var(--accent);
}
a:hover {
	text-decoration: none;
}
a:visited {
	color: var(--vist);
}
a:active {
	color: var(--actiu);
}

/* Encapçalaments */
h1 {
	font-family: var(--encap);
	color: var(--accent);
	text-align: center;
	font-size: 2rem;
	margin-bottom: 1rem;
}
h2, h3 {
	font-family: var(--encap);
	margin-top: 1rem;
	margin-bottom: 0.3rem;
}
h2 {
	color: var(--accent);
}

/* CATEGORIES */
.catego {
	background-color: var(--sec);
	border-radius: 10px;
	border: 2px solid var(--ter);
	overflow: hidden;
	margin-bottom: 2rem;
}
.catego img {
	width: 100%;
	height: 100%;
	aspect-ratio: 4/3;
	object-fit: cover;
	object-position: top left;
	transform: scale(1);
	transition: transform 0.5s ease-out;
}
.catego:hover img {
	transform: scale(1.1);
}
.catego a {
	text-decoration: none;
	color: var(--text);
	display: flex;
	align-items: stretch;
}
.catego picture {
	flex: 1;
}
.catego div {
	flex: 2;
	margin: 2rem;
}
.catego h2 {
	margin-top: 0;
	font-size: 1.2rem;
}

/* ARTICLES */
article p {
	margin: 0.6rem 0 0.3rem 0;
}
/* visita */
.info {
	border: 2px solid var(--sec);
	border-radius: 10px;
	padding: 1rem var(--mida-var);
}
.info hr {
	border: 1px solid var(--sec);
	margin: 2rem;
}
.info h2 {
	padding-left: 3rem;
	background: url(../img/euro.svg);
	background-repeat: no-repeat;
}
.info h2:first-of-type {
	background: url(../img/uhr.svg);
	background-repeat: no-repeat;
}
.info h2:last-of-type {
	background: url(../img/phone.svg);
	background-repeat: no-repeat;
}
.info ul + p {
	font-size: var(--petit);
	margin-left: 2rem;
}
article ul {
	margin-bottom: 1rem;
	list-style-type: square;
	margin-left: 2rem;
}
li::marker {
	color: var(--ter);
}

/* Llista desplegable */
#bloc_desp {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	max-width: 500px;
	background-color: var(--ter);
	border: 3px solid transparent;
	border-radius: 10px;
	margin: 2rem auto;
}
#bloc_desp:hover {
	background-color: var(--sec);
	border-color: var(--ter);
}
#bloc_desp.visible:hover {
	border-color: var(--ter);
} 
#bloc_desp h2 {
	margin: 0.5rem 1rem;
	font-size: 1.2rem;
	font-family: var(--cos);
	text-align: center;
}
#bloc_desp ul {
	list-style-type: none;
	width: 100%;
	display: none;
}
#bloc_desp.visible {
	background-color: var(--sec);
	border-color: transparent;
}
#bloc_desp.visible ul {
	display: block;
}
#bloc_desp ul strong { /* anys */
	display: inline-block;
	width: 3rem;
	margin-top: 0.5rem;
}

/* Fletxa */
#bloc_desp svg {
	color: var(--accent);
}
/* animació fletxa */
#bloc_desp svg {
	transition: transform 0.2s ease-out;
}
#bloc_desp.visible svg {
	transform: rotate(180deg);
}

/* Imatges */
article picture img {
	max-width: 50%;
	height: auto;
	float: left;
	margin: 2rem;	
	border: 2px solid var(--sec);
}
article picture:nth-of-type(2) img { /* segona imatge de l'article */
	float: right;
}
article h1 + picture img { /* la primera imatge a dalt de tot */
	margin: 0 2rem 2rem 0;
}
article picture img.pano {
	max-width: 100%;
	float: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/* animació imatges */
@keyframes difuminar {
	0% {
		opacity: 0;
		transform: scale(0.9) ;
	}
	100% {
		opacity: 1;
	}
}
article picture img, .pano {
	animation: difuminar 0.5s ease-out;
	animation-delay: 0.5s;
	animation-fill-mode: both;
}

/* Altres articles de la secció */
.altres {
	width: 100%;
	border-top: 2px solid var(--sec);
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.altres h2 {
	font-family: var(--cos);
	font-size: 1.2rem;
	font-weight: 500;
	
}
d.altres ul {
	list-style-type: disc;
	color: var(--accent);
}

/* VERSIÓ MÒBIL */
/* aquest codi ha d'anar al final, per això no puc afegir-lo amb @import */
@media screen and (max-width: 600px) {
	.catego a {
		flex-direction: column;
	}
	.catego img {
		aspect-ratio: 5/2;
		object-position: center;
	}
	article picture img {
		float: none;
		max-width: 100%;
		aspect-ratio: 16/9;
		object-fit: cover;
		object-position: top center;
	}
}