article.present {
	overflow: hidden;
}
.present h1 {
	font-size: 4rem;
	margin-bottom: 2rem;
}
.present h2 {
	text-align: center;
	margin: 0 0 1.5rem 0;
}
div.present {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	border-top: 2px solid var(--sec);
	margin-top: 2rem;
	padding: 2rem;
}
.present ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
}
.present a, .present a:visited {
	display: inline-block;
	text-decoration: none;
	color: var(--accent);
	background: var(--ter);
	border-radius: 10px;
	font-weight: bold;
	padding: 0.5rem 1rem;
	border: 3px solid transparent;
}
.present a:hover {
	background-color: var(--sec);
	border-color: var(--ter);
}
.present a:active {
	color: var(--actiu);
	border-color: var(--actiu);
}
/* animació imatge */
@keyframes cercle {
	0% {
		/* clip-path: polygon(0 0, 0 0, 0 100%, 0 100%); lateral */
		/*clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); vertical */
		clip-path: circle(0% at 50% 50%);
		opacity: 0;
		transform: scale(0.8);
	}
	100% {
		/* clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); */
		clip-path: circle(70.7% at 50% 50%);
		opacity: 1;
	}
}
.present img {
	object-position: center;
	animation: cercle 0.5s ease-out;
	animation-delay: 0.5s;
	animation-fill-mode: both;
}