article.present {
	overflow: hidden;
}
.present h1 {
	font-size: 4rem;
	margin-bottom: 2rem;
}
/* Encapçalament categories */
.present + .altres h2 {
	font-family: var(--encap);
	font-size: 2rem;
	font-weight: bold;
}

/* animació imatge */
@keyframes cercle {
	0% {
		/* clip-path: polygon(0 0, 0 0, 0 100%, 0 100%); lateral */
		/*clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); vertical */
		clip-path: circle(0% at 50% 50%);
		opacity: 0;
		transform: scale(0.8);
	}
	100% {
		/* clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); */
		clip-path: circle(70.7% at 50% 50%);
		opacity: 1;
	}
}
.present img {
	object-position: center;
	animation: cercle 0.5s ease-out;
	animation-delay: 0.5s;
	animation-fill-mode: both;
}